body{
  background-color:rgb(94, 85, 85);
}

.jumbotron{
  background:url("../images/mainpic.jpg");
}

.jumbotron h1{
  color:#105B63;
}

#search{
  margin: 0 auto;
  width:50%;
  display: inline;
}
.rating .glyphicon {
  font-size: 22px;
}

.login,.results{
  margin-top:15%;
}